{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block content %}
    <h1>{{ movie.title }}</h1>
    <div class="row">
        <div class="span3">{{ movie.genres|join(', ') }}</div>
    </div>

    <h2>Similar to</h2>
    {% for movie in movies %}
        <div class="row">
            <span class="span3"><a href="{{ path('acme_demo_demo_movie', {'id': movie.id}) }}">{{ movie.title }}</a></span>
            <span class="span3">{{ movie.genres|join(',') }}</span>
        </div>
    {% endfor %}

    <h2>Rates</h2>
    {% for rate in movie.rates %}
        <div class="row">
            <span class="span3">{{ rate.userId }}</span>
            <span class="span3">{{ rate.rating }}</span>
        </div>
    {% endfor %}
{% endblock %}
